@page "/"
@inject ServicioSingleton singleton
@inject IRepositorio repositorio

<PageTitle>Blazor Peliculas</PageTitle>
<HeadContent>
    <meta name="description" content="Pagina para visualizar peliculas"/>
</HeadContent>
<button @onclick="LimpiarPeliculas">Limpiar peliculas</button>
<p>Valor del Singleton @singleton.Valor</p>
<div>
    <h3>Películas</h3>
    <ListadoPeliculas @ref="listadoPeliculas" Peliculas="Peliculas"/>
    
</div> 
<button @onclick="AgregarPelicula">Agregar pelicula </button>

@* <BindAfterDemo/> *@

@* <div>
    <h2>Crear nueva pelicula</h2>
    <EjemploTextbox />
</div> *@
@code{
    public List<Pelicula>? Peliculas{get;set;}
    public ListadoPeliculas? listadoPeliculas;
    protected override  void OnInitialized(){
        Peliculas=repositorio.ObtenerPeliculas();
    } 
    
    private void LimpiarPeliculas()
    {
        listadoPeliculas!.LimpiarPeliculas();
    }
    private Dictionary<string,object> EjemploTextBoxParametros=
        new Dictionary<string,object>()
        {
        {"placeholder","nuevo placeholder 2"},
        {"disabled","true"}
        };
    
    private void AgregarPelicula(){
        Peliculas!.Add(new Pelicula{Titulo="Nuevo",FechaLanzamiento=DateTime.Today});
    }
    
}    
    
