<div>
    <p>Título: <b>@pelicula.Titulo</b>
        @if(DateTime.Today.Subtract(pelicula.FechaLanzamiento).Days <= 14){
            <span style="color:red"> (¡NUEVO!)</span>
        }
    </p>
    <p>Fecha de Lanzamiento: @pelicula.FechaLanzamiento.ToString("dd MM yyyy")</p>
    @if(MostrarBotones)
    {
        <div>
            <button @onclick="@(()=> EliminarPelicula.InvokeAsync(pelicula))">Borrar</button>
        </div>
    }
    
</div>
@code{
    [Parameter]
    [EditorRequired]
    public Pelicula pelicula{get; set;} = null!;   
    [Parameter]
    public bool MostrarBotones {get;set;} = false; 
    [Parameter]
    public EventCallback<Pelicula> EliminarPelicula{get;set;}
}